.duno {
  &-footer {
    z-index: 9;
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #666;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background: #f9f9f9;

    a {
      color: #666;
      margin-left: 2em;
    }
  }
}