.main{
  height: calc(100% - 80px);

  .el-aside {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow-y: auto;
  }

  &-header{
    background: #15222d;
    background: url('../../../assets/images/head-bg.png') no-repeat top left;
    background-size: cover;
    padding: 0 20px;
    width: 100%;
    overflow: hidden;
    // border-bottom: 1px solid rgba(128, 126, 126, 0.1);
  }

  .main-content-con{
    height: 100%;
    padding: 0;
    background: transparent;
  }
  .main-layout-con {
    min-height: 100%;
    position: relative;
  }

  &Aside {
    height: calc(100% - 80px);
  }

  .content-wrapper{
    padding: 22px;
    // padding: 20px 30px;
    //padding-bottom: 64px;
    min-width: 256px;
    overflow-x: hidden;
  }
}