.header-bar{
  width: 100%;
  height: 100%;
  position: relative;

  .logo-con{
    padding: 5px 10px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    vertical-align: middle;

    img{
      max-height: 100%;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }

  .custom-content-con{
    float: right;
    height: 100%;
    overflow: hidden;
    line-height: 60px;
    & > *{
      float: left;
    }
  }
}
