* {
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration:none;
  outline: none;
}
html, body, #app {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/* IE内核 */
* {
  scrollbar-arrow-color: #fff; /**//*三角箭头的颜色*/ 
  scrollbar-face-color: #213848; /**//*立体滚动条的颜色*/ 
  scrollbar-3dlight-color: #12222b; /**//*立体滚动条亮边的颜色*/ 
  scrollbar-highlight-color: #12222b; /**//*滚动条空白部分的颜色*/ 
  scrollbar-shadow-color: #213848; /**//*立体滚动条阴影的颜色*/ 
  scrollbar-darkshadow-color: #12222b; /**//*立体滚动条强阴影的颜色*/ 
  scrollbar-track-color: #12222b; /**//*立体滚动条背景颜色*/ 
  scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/
}

@media print {
  ::-webkit-scrollbar {
    opacity: 0 !important;
    width: 0px !important;
    height: 0px !important;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 5px rgba(18,34,43,0.2);
    background: #213848;
  }
  ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(18,34,43,0.2);
    border-radius: 0px !important;
    background: #12222b;
  }
}

/* 滚动条样式 webkit内核 */
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(18,34,43,0.2);
  background: #213848;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(18,34,43,0.2);
  border-radius: 10px;
  background: #12222b;
}
.ivu-poptip-popper {
  z-index: 3140 !important;
}
.el-picker-panel__footer {
  border-top: 1px solid transparent !important;
  padding: 4px;
  text-align: right;
  background-color: #152e3a !important;
  position: relative;
  font-size: 0;
}
.el-date-picker__time-header{
  border-bottom: 1px solid transparent !important;
}
.el-button.is-plain:hover, .el-button.is-plain:focus{
  background: #203944 !important;
  color: white !important;
}
.el-year-table td .cell{
  color: white !important;
}
.el-month-table td .cell{
  color: white !important;
}