* {
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration:none;
  outline: none;
}
html, body, #app {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}
#app {
  overflow: hidden;
}

/* IE内核 */
* {
  scrollbar-arrow-color: #fff; /**//*三角箭头的颜色*/ 
  scrollbar-face-color: #44495a; /**//*立体滚动条的颜色*/ 
  scrollbar-3dlight-color: #2f333f; /**//*立体滚动条亮边的颜色*/ 
  scrollbar-highlight-color: #2f333f; /**//*滚动条空白部分的颜色*/ 
  scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜色*/ 
  scrollbar-darkshadow-color: #2f333f; /**//*立体滚动条强阴影的颜色*/ 
  scrollbar-track-color: #2f333f; /**//*立体滚动条背景颜色*/ 
  scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/
}
/* 滚动条样式 webkit内核 */
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #44495a;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #2f333f;
}
