@import "./defaults.scss";
.head-middle{
  width: 100%;
  margin: 0 auto 10px;
  
  .el-card__body {
    overflow: inherit;
  }

  &-left{
    display: inline-block;
    width: auto;
    button {
      margin: 0 3px;
    }
  }
  &-right {
    float: right;
  }
}

.header-icon {
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  line-height: normal;
  padding: 0 5px;

  i{
    font-size: 24px;
    vertical-align: middle;
  }

  p {
    font-size: 14px;
  }
}

body button.tableBtnName {
  margin: 0 2px;
  border: none;
  height: 21px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 12px;
}
body button.tableBtnName:hover {
  background-color: transparent;
}
body button.tableBtnName:focus {
  box-shadow: none;
}
.viewRow {
  img {
    max-width: 100%;
  }
}

.duno-cons {
/*  margin-bottom: 2em;
  min-height: calc(100% - 70px);*/
}

body .el-card__body {
  padding: 15px;
}

body .el-loading-spinner {
  i {
    font-size: 25px;
    color: #0A70F8;
  }
  .el-loading-text {
    font-size: 16px;
    color: #0A70F8;
  }
}
body .el-dropdown-menu {
  background: rgba(47, 51, 63, 0.7);
  border-color: rgba(47, 51, 63, 0.7);
}
body .el-dropdown-menu__item--divided:before {
  background: rgba(47, 51, 63, 0.7);
}
body .el-dropdown-menu__item--divided {
  border-color: rgba(47, 51, 63, 0.7);
}
body .el-popper[x-placement^="bottom"] .popper__arrow::after {
  display: none;
}
body .el-dropdown-menu__item {
  color: #fff;
}
body .el-dropdown-menu__item:not(.is-disabled):hover, body .el-dropdown-menu__item:focus {
  background-color: #2b3138;
  color: #0A70F8;
}

body .el-button {
  background: #7c7c7c;
  border-color: #7c7c7c;
  color: #fff;
}
body .el-button:hover, body .el-button:focus {
  border-color: #616161;
  background-color: #616161;
  color: #fff;
}
body .el-button--primary:hover, body .el-button--primary:focus {
  background: #5b647e;
  border-color: #5b647e;
}
body .el-button--info {
  background: #3e4557;
  border-color: #3e4557;
}
body .el-button--info:hover, body .el-button--info:focus {
  border-color: #515970;
  background-color: #515970;
}
body .el-button--success {
  background: #515970;
  border-color: #515970;
}
body .el-button--success:hover, body .el-button--success:focus {
  border-color: #3e4557;
  background-color: #3e4557;
}
body .el-picker-panel__icon-btn {
  color: #bbb;
}
body .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: transparent;
}