.side-menu-wrapper{
  user-select: none;
  height: 100%;

  .el-menu {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    i {
      color: inherit
    }
  }
}

.menu-title{
  padding-left: 0.5em;
}

