.timeDiv {
  .timeTemplate {
    padding: 14px 10px;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    border-bottom: none;
  }
  .yearNum {
    display: inline-block;
    width: 52px;
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 35px;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out; /* Opera */
  }

  .months{
    font-size: 16px;
    margin: 0 3px 0 0;
    outline: none;
  }

  .LableDiv {
    color: #3e3a39;
    font-size: 16px;
    font-weight: bold;
  }

  .showMo {
    color: #fff;
  }
  .dropdownBtn .Month{
    width: 30px;
    outline: none;
    background: transparent;
    border: none;
    display: inline-block;
    font-size: 16px;
    color: #515a6e;
  }
  .highlight .Month{
    color: #fff;
  }
  .el-dropdown__icon {
    font-size: 16px;
  }
  .el-dropdown {
    margin: 0 2px 10px;
  }

  .highlight .el-dropdown__caret-button::before, .dropdownBtn .el-dropdown__caret-button::before{
    background: rgba(255,255,255,0.5);
    background: none !important;
  }
  .disabledBtn .el-dropdown__caret-button::before{
    background: rgba(207,207,207,0.5);
  }
  .disabledBtn .el-button--mini, .disabledBtn .Month{
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #cfcfcf;
  }

}

.el-button-group .el-button--primary:first-child{
  border: 1px solid #13d5c8;
}

.el-button-group>.el-button:not(:last-child){
  margin-right: -1px;
  width: 47px;
  padding: 7px;
}
.el-dropdown .el-button-group{
  width: 82px;
}

.el-button-group>.el-button:last-child {
  padding: 9px 2px;
}

.el-button-group > .el-button:not(:last-child) {
  margin-right: -1px;
  width: 47px;
  padding: 9px 2px;
}